*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#f7f2f8;
  color:#111;
}

/* Navbar */

.navbar{
  width:100%;
  padding:25px 8%;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo{
  font-size:32px;
  font-weight:900;
}

.nav-links{
  display:flex;
  list-style:none;
  gap:40px;
}

.nav-links a{
  text-decoration:none;
  color:#555;
  font-weight:600;
}

.nav-links .active{
  color:#7b1fa2;
  border-bottom:3px solid #7b1fa2;
  padding-bottom:5px;
}

.nav-links a:hover,
.nav-links a.active{
  color:#7b1fa2;
  border-bottom:2px solid #7b1fa2;
}

.nav-buttons{
  display:flex;
  gap:15px;
}

.sign-btn{
  border:2px solid #7b1fa2;
  background:transparent;
  color:#7b1fa2;
  padding:10px 20px;
  border-radius:30px;
  cursor:pointer;
  font-weight:600;
}

.trial-btn{
  border:none;
  background:#7b1fa2;
  color:white;
  padding:12px 22px;
  border-radius:30px;
  cursor:pointer;
  font-weight:600;
}

/* Hero */

.hero{
  padding:50px 8%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  min-height:80vh;
}

.hero-text{
  width:50%;
}

.hero-text h1{
  font-size:70px;
  line-height:1.1;
  margin-bottom:25px;
}

.hero-text p{
  color:#666;
  line-height:1.8;
  margin-bottom:30px;
  max-width:500px;
}

.hero-buttons{
  display:flex;
  align-items:center;
  gap:25px;
}

.enroll-btn{
  border:none;
  background:#7b1fa2;
  color:white;
  padding:14px 28px;
  border-radius:30px;
  font-size:16px;
  cursor:pointer;
}

.watch{
  display:flex;
  align-items:center;
  gap:10px;
  font-weight:600;
  cursor:pointer;
}

.watch i{
  color:#7b1fa2;
  font-size:24px;
}

.hero-image{
  width:45%;
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
}

.circle{
  width:450px;
  height:450px;
  background:radial-gradient(circle,#b026ff,#7b1fa2);
  border-radius:50%;
  position:absolute;
}

.hero-image img{
  width:350px;
  position:relative;
  z-index:2;
}

.tag{
  position:absolute;
  background:#7b1fa2;
  color:white;
  padding:10px 18px;
  border-radius:20px;
  z-index:3;
}

.code{
  left:20px;
  bottom:100px;
}

.design{
  right:30px;
  top:120px;
}

/* Brands */

.brands{
  background:#8e24aa;
  color:white;
  padding:22px 8%;
  display:flex;
  justify-content:space-around;
  align-items:center;
  flex-wrap:wrap;
  gap:20px;
}

.brand{
  display:flex;
  align-items:center;
  gap:10px;
  font-size:22px;
  font-weight:600;
}

/* Search */

.search-section{
  padding:80px 8%;
  text-align:center;
}

.search-section h2{
  font-size:42px;
  margin-bottom:35px;
}

.search-box{
  display:flex;
  justify-content:center;
  gap:20px;
}

.search-box input{
  width:500px;
  padding:18px;
  border:none;
  border-radius:40px;
  font-size:16px;
}

.search-box button{
  border:none;
  background:#7b1fa2;
  color:white;
  padding:18px 35px;
  border-radius:40px;
  cursor:pointer;
}

/* Benefits */

.benefits{
  padding:50px 8%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:50px;
}

.benefit-image{
  width:45%;
}

.benefit-card{
  background:linear-gradient(#9c27b0,#512da8);
  border-radius:40px;
  padding:40px;
  border:3px dashed #c084fc;
}

.benefit-card img{
  width:100%;
}

.benefit-text{
  width:50%;
}

.benefit-text h2{
  font-size:48px;
  margin-bottom:40px;
}

.benefit-text span{
  color:#7b1fa2;
}

.benefit-item{
  display:flex;
  gap:20px;
  margin-bottom:30px;
}

.benefit-item i{
  min-width:60px;
  height:60px;
  background:#e9d5ff;
  color:#7b1fa2;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:24px;
}

.benefit-item h3{
  margin-bottom:10px;
}

.benefit-item p{
  color:#666;
  line-height:1.7;
}

/* Courses */

.courses{
  background:#8e24aa;
  color:white;
  padding:80px 8%;
  text-align:center;
}

.courses h2{
  font-size:48px;
  margin-bottom:20px;
}

.course-text{
  max-width:700px;
  margin:auto;
  line-height:1.8;
  margin-bottom:50px;
}

.course-container{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:30px;
}

.course-card{
  background:white;
  color:#111;
  border-radius:20px;
  overflow:hidden;
  cursor:pointer;
  transition:0.3s;
}

.course-card:hover{
  transform:translateY(-10px);
  box-shadow:0 15px 35px rgba(0,0,0,0.2);
}

.course-card img{
  width:100%;
  height:220px;
  object-fit:cover;
}

.course-content{
  padding:25px;
  text-align:left;
}

.category{
  background:#f3e8ff;
  color:#7b1fa2;
  padding:6px 12px;
  border-radius:15px;
  font-size:14px;
  font-weight:600;
}

.course-content h3{
  margin:18px 0;
  font-size:28px;
}

.course-content p{
  color:#666;
}

.price{
  margin-top:20px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.price span{
  font-size:28px;
  font-weight:700;
}

.price small{
  color:#444;
}

/* Lecturers */

.lecturers{
  padding:80px 8%;
  text-align:center;
  background:#f7f2f8;
}

.lecturers h2{
  font-size:48px;
  margin-bottom:20px;
  color:#111;
}

.lecturer-container{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:30px;
}

.lecturer-card{
  background:white;
  border-radius:25px;
  padding:35px 25px;
  text-align:center;
  cursor:pointer;
  box-shadow:0 10px 25px rgba(0,0,0,0.08);
  transition:0.3s;
}

.lecturer-card:hover{
  transform:translateY(-10px);
  box-shadow:0 15px 35px rgba(123,31,162,0.25);
}

.lecturer-card img{
  width:150px;
  height:150px;
  object-fit:cover;
  border-radius:50%;
  background:#f3e8ff;
  padding:15px;
  margin-bottom:20px;
}

.lecturer-content h3{
  font-size:24px;
  color:#7b1fa2;
  margin-bottom:10px;
}

.lecturer-content p{
  color:#555;
  font-size:18px;
  margin-bottom:20px;
}

.view-btn{
  border:none;
  background:#7b1fa2;
  color:white;
  padding:12px 24px;
  border-radius:30px;
  cursor:pointer;
  font-weight:600;
}

.view-btn:hover{
  background:#5e167d;
}

/* Contact */

.contact{
  padding:70px 8%;
  text-align:center;
  background:white;
}

.contact h2{
  font-size:42px;
  color:#7b1fa2;
  margin-bottom:20px;
}

.contact p{
  font-size:18px;
  color:#555;
  margin:10px 0;
}

/* Footer */

.footer{
  background:#2b0738;
  color:white;
  padding-top:60px;
}

.footer-container{
  padding:0 8% 40px;
  display:grid;
  grid-template-columns:2fr 1fr 1.5fr 1fr;
  gap:35px;
}

.footer-box h3{
  font-size:24px;
  margin-bottom:20px;
}

.footer-box p{
  color:#ddd;
  line-height:1.7;
  margin-bottom:10px;
}

.footer-box a{
  display:block;
  color:#ddd;
  text-decoration:none;
  margin-bottom:12px;
  transition:0.3s;
}

.footer-box a:hover{
  color:#c084fc;
  padding-left:5px;
}

.footer-box i{
  margin-right:8px;
}

.social-icons{
  display:flex;
  gap:15px;
}

.social-icons i{
  width:40px;
  height:40px;
  background:#7b1fa2;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:18px;
  cursor:pointer;
  transition:0.3s;
}

.social-icons i:hover{
  background:white;
  color:#7b1fa2;
}

.footer-bottom{
  border-top:1px solid rgba(255,255,255,0.2);
  text-align:center;
  padding:20px;
  color:#ddd;
}

/* Responsive    */

@media(max-width:992px){

  .hero{
    flex-direction:column;
    text-align:center;
  }

  .hero-text,
  .hero-image,
  .benefit-image,
  .benefit-text{
    width:100%;
  }

  .hero-buttons{
    justify-content:center;
  }

  .benefits{
    flex-direction:column;
  }

  .course-container,
  .lecturer-container{
    grid-template-columns:1fr 1fr;
  }

  .footer-container{
    grid-template-columns:1fr 1fr;
  }
}

@media(max-width:768px){

  .navbar{
    flex-direction:column;
    gap:20px;
  }

  .nav-links{
    flex-direction:column;
    text-align:center;
    gap:20px;
  }

  .nav-buttons{
    flex-direction:column;
  }

  .hero-text h1{
    font-size:45px;
  }

  .circle{
    width:300px;
    height:300px;
  }

  .hero-image img{
    width:240px;
  }

  .search-box{
    flex-direction:column;
  }

  .search-box input{
    width:100%;
  }

  .course-container,
  .lecturer-container,
  .footer-container{
    grid-template-columns:1fr;
  }

  .footer{
    text-align:center;
  }

  .social-icons{
    justify-content:center;
  }
}